.git
.temp
release
.gitignore
node_modules
npm-debug.log
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode
npm-debug*
templrjs
templrjs-server
*.log
*.tar
templrjs
ai
templrjs-server
.temp
*.log
hist.txt
history.txt